<h1>Living Social Data Import</h1>

<div>

  <%= form_tag({action: :upload}, multipart: true) do %>
    <%= label_tag 'import' do %>
      Import Data File:
      <%= file_field_tag 'import' %>
    <% end %><br/>
    <%= button_tag 'Submit' %>
  <% end %>
</div>
