<h1>Living Social Data Import</h1>

<div>

  <table>
    <thead>
      <tr>
        <td>File Name</td>
        <td>File Size</td>
        <td>Upload Date</td>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'data_file_entry', collection: @data_files %>
    </tbody>
  </table>
</div>
